*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}

nav{
    flex: 1;
    text-align: right;
    
}

nav ul{
    display: inline-block;
    list-style-type:none; 
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
    font:elegant;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: gray;
    transition: transform 0.5s;
   
    
}
 body{
    /*background-color: gray;*/
    background-image: url(assets/background-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .col-2{
    flex-basis: 100%;
    padding: 50px 0
  }

  .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }

  .btn{
    display:inline-block;
    background:black ;
    color: white;
    padding:15px;
    margin: 30px;
    border-radius: 30px;
    transition:background 0.5s;
    cursor:pointer;
  }
  .btn:hover{
    background-color:gray;
  }


  .categories{
    margin: 100px 0px;


  }

  .col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
  }

  .col-3 img{
    width: 100%;
    margin-top: 20px;
  }

  .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    

  }

  .small-container h2{
    text-align: center;
    text-decoration: underline;
    font: elegant;
    margin:0 auto 80px ;
    line-height:60px ;
    position: relative;
    color:  rgb(212, 210, 210);
  }

  .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }

  .col-4 img{
    width: 100%;
  }

  .rating{
    display:inline;
  }

  h4{
    color: rgb(212, 210, 210);
  }

  .price{
    color:rgb(212, 210, 210);
    font-size: 14px;
 }

 .col-4:hover{
    transform: translateY(-5px);
 }

.col-2 .offer-img{
    padding: 50px;
    width: 100%;
}

 .offer{
    background:gray;
    margin-top: 80px;
    padding: 30px 0;
    opacity: 0.4;

 }

 .offer-header{
  text-align: center;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 6.0rem;
 }

 small{
  font-size:1.0rem;
 }

 .page-btn{
  margin: 0 auto 80px;
  background-color: gray;
  text-align: center;
  transition: background 0.5s;
 }
 .page-btn span{
  display: inline-block;
  border: 1px solid ;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: black;
 }
 
 .page-btn span:hover{
  color:white;
  background: black;
 }
 .review{
  padding-top: 100px;
 }

 .review .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgb(0, 0, 1);
  transition:transform 0.5s;
 }

 .review .col-3:hover{
  transform: translateY(-10);
 }

 .brands{
  margin: 100px auto;
 }

 .col-5{
  width: 160px;
  
 }

 .col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
 }

 .col-5 img:hover{
  filter: grayscale(0);
 }

 #brands{
  background-color: gray;
  opacity: 0.4;
  margin: 0;
  width: 100%;
 }


 /*-----------footer css---------------*/

 .footer{
  background:gray;
  color: white;
  font-size: 14px;
  padding:60px 0 20px;
  opacity: 0.5;
 }

 .footer p{
  color: white;

 }

 .footer h3{
  color: white;
  margin-bottom: 20px;

 }

 .footer-col-1, .footer-col-2, .footer-col-3,.footer-col-4{
  min-width: 25px;
  margin-bottom: 20px;
 }
 .footer-col-1{
  flex-basis: 30%;
 }
 .footer-col-2{
  flex: 1;
  text-align: center;
 }
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}

.footer-col-4 ul li{
  list-style-type: none;
  color: white;
}
.footer-col-3 ul{
  color: white;
}

.footer-col-1 h3{
  color: white;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}



.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100%;
  background: white;
  box-shadow:-2px 0 10px rgba(0, 0, 0.1);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
  transition: 0.5s;
}

.cart.active{
  right: 0;
}

.cart-title{
  text-align: center;
  font-size: 30px;
}

.cart-box{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cart-box img{
  width: 100px;
  height: 100px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-detail{
  display: grid;
  gap: 8px;
  margin-right: auto;
}

.cart-product-title{
  font-size: 16px;
  line-height: 1;
}

.cart-price{
  font-weight: 500;
}

.cart-quantity{
  display: flex;
  width: 100px;
  border: 1px solid #999;
  border-radius: 6px;
}

.cart-quantity button{
  background: transparent;
  cursor: pointer;
  width: 50px;
  border: none;
  font-size: 20px;
}

.cart-quantity #decrement{
  color: #999;
}

.cart-quantity .number{
  display: flex;
  justify-content: center;
  width: 40px;
  align-items: center;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  cursor: pointer;
}

.cart-remove{
  font-size: 25px;
  cursor: pointer;
}
.total{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 18px;
}

.total-price{
  margin-left: 10px;
  font-weight: 600;
}
.btn-buy{
  display: block;
  padding: 10px 30px;
  background-color: black;
  border: none;
  font-size: 16px;
  color: white;
  margin: 20px auto 0;
  cursor: pointer;
  border-radius: 6px;
}

#cart-close{
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
}

.wrapper{
  margin-top: 150px;
  margin-left: 500px;
  position: relative;
  width: 400px;
  height: 440px;
  background:transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow:0 0 30px rgba(0, 0, 0, .5) ;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition:transform .5s ease, height 2s ease;

  }
  .wrapper.active-popup{
    transform: scale(1);
    }
    .wrapper.active{
    height: 520px;
    }

  .wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    }

    .wrapper.active .form-box-login{
      transition: transform .18s ease;
      transform: translateX(0);
      }
      
      .wrapper.active .form-box-login{
      transition: none;
      transform: translateX(-400px);
      }

    .wrapper .form-box-register{
      position: absolute;
      transition: none;
      transform: translateX(400px);
      }

      .wrapper.active .form-box-register{
        transition: transform .18s ease;
        transform: translateX(0);
        }


      

    .wrapper .form-box{
      width: 100%;
      padding: 40px;
      }
      .form-box h2{
        font-size: 2em;
        color: black;
        text-align: center;
        }

        .input-box{
          position: relative;
          width: 100%;
          height: 50px;
          border-bottom: 2px solid black;
          margin: 30px 0;
          }
          
          .input-box label{
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          color: black;
          font-weight: 500;
          pointer-events: none;
          transition: 0.5s;
          }
          .input-box input:focus~label,
          .input-box input:focus~label{
            top: -5px;
          }
          
          .input-box input{
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          font-size: 1em;
          font-weight: 600;
          padding: 0 35px 0 5px;
          }
          
          .remember-forgot{
          font-size: 0.9em;
          font-weight: 500;
          display: flex;
          justify-content: space-between;
          margin: -15px 0 15px;
          }
          
          .remember-forgot label input{
          accent-color: black;
          margin-right: 3px;
          }
          
          .remember-forgot a{
          text-decoration: none;
          }
          .remember-forgot a:hover{
          text-decoration: underline;
          }
          
          .button{
          width: 100%;
          height: 45px;
          background: black;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          color: white;
          font-weight: 500;
          }
          
          .login-register{
          font-size: 0.9em;
          color: black;
          text-align: center;
          font-weight: 500;
          margin: 25px 0 10px;
          
          }
          
          .login-register p a{
          text-decoration: none;
          font-weight: 500;
          
          }
          
          .login-register p a:hover{
          text-decoration: underline;
          }

          .btnPopUp{
            background: transparent;
            border: none;
            cursor: pointer;
          }

          #cartIcon{
            cursor: pointer;
          }
          
          .pageLinks{
            display: inline-block;
            list-style-type: none;
          }

          .pageLinks li{
            display: inline-block;
            margin-left: 150px;
            margin-bottom: 100px;
            color: white;
            font-size: 1.5em;
            text-decoration: underline;
            cursor: pointer;
          }

          .pageLinks li:hover{
            color: gold;
          }

          html{
            scroll-behavior: smooth;
          }

